  #checkbox:checked ~ header nav {
    top: 0;
  }
  #checkbox:checked ~ header > h3 {
    display: none;
  }
  *{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Poppins;
  }
.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(rgba(50,50,255,1) 0 0);
  background: var(--c),var(--c),rgba(0,0,255,0.2);
  background-size: 60% 100%;
  animation: l16 4s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}